.navbar{
    background-color: #dddddd;
    height: 100%;
    width: 100%;
    display: block;
    justify-items: center;
    border-right: 1px solid;
    border-color: black;
    
}

.navbar div{
    width: 100%;
    display: grid;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid;
    
}

.navbar img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: grid;
    align-self: center;

}

.sandwich img{
    height: 35px;
    width: 35px;

}
